In [1]:
# General data manipulation
import pandas
from matplotlib import pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import cv2
import os
import sys
from PIL import Image # pip install pillow

In [2]:
# get train file names and convert to dataframe
# you may need to change your working directory first:
# os.chdir('/your_path')
import os
import pandas as pd
ER_file_names = os.listdir('idao_dataset/train/ER/')
NR_file_names = os.listdir('idao_dataset/train/NR/')

ER = pd.DataFrame([[y.replace(';1.png','').replace('ev','') for y in x.split('_')] for x in ER_file_names])
NR = pd.DataFrame([[y.replace(';1.png','').replace('ev','') for y in x.split('_')] for x in NR_file_names])

ER = ER[[5,6,0,15,16]].rename(columns={5:'type',6:'energy',0:'num',15:'run',16:'ev'})
NR = NR[[6,7,0,17,18]].rename(columns={6:'type',7:'energy',0:'num',17:'run',18:'ev'})
data = ER.append(NR)
# data

In [3]:
data['type_2'] = (data.type == 'ER')*1

In [4]:
data

     type energy                   num   run   ev  type_2
0      ER     10    0.5041503310203552  run4  272       1
1      ER      3  -0.13757403194904327  run3  449       1
2      ER     10    0.5042710304260254  run5  882       1
3      ER     30   -1.4947187900543213  run3  660       1
4      ER     10     1.562488317489624  run2  820       1
...   ...    ...                   ...   ...  ...     ...
6641   NR      1   -2.8066000938415527  run5  207       0
6642   NR      6     2.858799934387207  run1  748       0
6643   NR      6    3.1136999130249023  run1  809       0
6644   NR     20      2.88070011138916  run5  723       0
6645   NR     20   -1.1974999904632568  run4  751       0

[13404 rows x 6 columns]

In [5]:
data.describe()

             type_2
count  13404.000000
mean       0.504178
std        0.500001
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

## Converting Image into Matrices

In [6]:
# convert PIL.Image object to numpy.Array, for training
def img2arr(img):
    return np.asarray(img.getdata(), dtype=np.uint8).reshape(img.height, img.width, -1)

In [7]:
import os
from os import listdir
from os.path import isfile, join 

# Converting ER

cwd = os.getcwd() # get current directory
mypath = cwd+'/idao_dataset/train/ER'
file_list = [cwd+'/idao_dataset/train/ER/'+f for f in listdir(mypath) if isfile(join(mypath, f))]

In [8]:
img_arr_list = []

In [ ]:
%%time 
# img_arr_list = []
for each in file_list:    
    img = Image.open(each).convert('LA')
    img_arr_list.append(img2arr(img)[:,:,0]) # ignore the alpha channel

In [ ]:
%%time 
# Converting NR
cwd = os.getcwd() # get current directory
mypath = cwd+'/idao_dataset/train/NR'
file_list = [cwd+'/idao_dataset/train/NR/'+f for f in listdir(mypath) if isfile(join(mypath, f))]

for each in file_list:    
    img = Image.open(each).convert('LA')
    img_arr_list.append(img2arr(img)[:,:,0]) # ignore the alpha channel

In [ ]:
img_arr_df = pd.DataFrame(img_arr_list)

In [ ]:
img_arr_df.to_csv()

In [ ]:
img_array = np.array(img_arr_list)
img_array.shape